<div id="mainpage" style="margin: 100px 25px 100px 25px">
    <form action="">
        <p>Please register with your email address for reference:</p>
        <p><input type="text" size="80" name="email" /><input type="submit" /></p>
        <p>We will <em>only</em> use your email for analysis and will not share it with <em>any</em> third party.</p>
    </form>
</div>

