development:
  adapter: postgresql
  encoding: unicode
  database: mapmill
  pool: 5
  username:
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: mapmill
  pool: 5
  username:
  password:
